.heading{
    text-align: center;
}

.button{
    background-color: rgb(194, 189, 189);
    color: white;
    border-radius: 10px;
    float: right;
    text-decoration: none;
    padding: 4px, 2px;
}

.row{
    height: 50px;
}

.table{
    border-spacing: 5px;
    border-collapse: collapse;
}

.space{
    padding: 20px;
}

.space1{
    padding: 10px;
}

.bg{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
